.dropdown {
    position: absolute;

    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);

    & .dropdown-btn:first-child {
        margin-top: 0px;
    }

    & .dropdown-btn:last-child {
        margin-bottom: 0px;
    }
}

.header-drop {
    right: -10px;
    top: 65px;
}

.message-drop {
    left: -10px;
    top: -123px;
}
