<div class='modal__backdrop' title='Backdrop'></div>
<form class='form modal__form'>
  <p class='modal__submit-error hidden'></p>
  <h3 class='modal__header'>Upload a file</h3>

  {{{fileInput}}}
  {{{submitBtn}}}

  <p class='modal__error hidden'></p>
</form>
