.loader {
  position: fixed;
  display: flex;
  text-align: center;
  align-items: center;
  right: 30px;
  bottom: 9px;
  padding: 5px;
  z-index: 100;

  &__ring {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
  }

  @keyframes ring {
    0% {
      box-shadow: 2px 0px 1px #3369f3;
      transform: rotate(0deg);
    }

    50% {
      box-shadow: 2px 0px 1px #efefef;
      transform: rotate(180deg);
    }

    100% {
      box-shadow: 2px 0px 1px #3369f3;
      transform: rotate(360deg);
    }
  }
}

.loader::before {
  content: '';
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
  z-index: -1;
}
