<div class='modal__backdrop' title='Backdrop'></div>
<form class='form modal__form'>
  <h2 class='modal__header'>{{modalHeader}}</h2>

  {{{submitBtn}}}

  <p class='modal__error hidden'></p>
</form>
