.btn {
    width: 100%;

    padding: 12px 70px;

    color: white;
    background-color: $highlight-color;

    &:hover {
        color: $highlight-color;
        background-color: $back-el-color;
    }
}
