.btn {
    width: 100%;

    padding: 12px 70px;

    border-radius: 8px;

    color: white;
    background-color: $highlight-color;

    &:hover {
        color: $highlight-color;
        background-color: $back-el-color;
    }

    &--extra {
        color: $highlight-color;
        background-color: transparent;

        &:hover {
            color: $back-text-color;
            background-color: transparent;
        }
    }
}
