.form--settings {
  position: relative;
  gap: 60px;
  width: 35%;
  height: 415px;
  padding: 30px;
  box-shadow: none;
  left: 32px;

  &__btn {
    text-align: start;
    padding: 10px 0;
    border-bottom: 1px solid $borders-color;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &-password {
    height: 270px;
  }

  &-change {
    height: auto;

    .input::placeholder {
      color: transparent;
    }
  }

  @media (width <= 1200px) {
    width: 50%;
  }

  @media (width <= 600px) {
    width: 80%;
    left: 16px;
  }

  @media (width <= 500px) {
    width: 96%;
  }
}
