.form--profile {
    position: relative;

    width: 340px;
    height: 615px;
    top: -160px;

    box-shadow: none;

    &__header-wrapper {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 21px;
    }

    &__btn {
        text-align: start;
        padding: 10px 0px;

        border-bottom: 1px solid $borders-color;

        &:last-of-type {
            border-bottom: none;
        }
    }
}
