.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50px;

  .label,
  .input::placeholder {
    color: $back-text-color;
  }

  .input,
  .input::placeholder {
    padding: 7px 0;
  }

  .input::placeholder {
    pointer-events: none;
  }

  .input--shifted {
    text-align: right;
  }

  .input:not(.message-form__input .input) {
    border-bottom: 1px solid $highlight-color;
    transition: border-bottom 0.3s ease;

    &:focus-within {
      border-bottom: 1px solid $back-text-color;

      &.input--shifted {
        text-align: left;
      }
    }
  }

  .label {
    position: absolute;
    top: -10px;
    pointer-events: none;

    &--small {
      font-size: 9px;
    }

    &--hidden {
      color: transparent;
    }

    &--shifted {
      top: 7px;
    }
  }

  .error {
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 8px;
    color: $warning-color;
  }
}
