.profile-link {
    position: relative;

    color: $back-text-color;

    &::after {
        display: block;
        position: absolute;
        content: '';

        width: 6px;
        height: 6px;
        right: -11px;
        top: 4px;

        border-top: 1px solid $back-text-color;
        border-right: 1px solid $back-text-color;

        transform: rotateZ(45deg);
    }
}
