<main class='main'>
  {{>ReturnBtn}}

  {{#if notForm}}
  <div class="form--profile__header-wrapper">
    {{>UserPic}}
    <h1 class='header'>{{userName}}</h1>
  </div>

  {{Profile}}
 {{/if}}

  {{#if changePass}}
  {{>ProfileForm changePass=true }}
  {{else}}
  {{>ProfileForm}}
  {{/if}}

  {{#if showModal}}
  {{>Modal header='Upload a file' upload=true btn-text='Upload'}}
  {{/if}}
</main>
