.main--profile {
  flex-direction: column;

  &__header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  .header {
    place-self: center flex-start;
    font-size: 20px;
  }
}
