.btn-return-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 100%;
  left: 0;
  border-right: 1px solid $borders-color;
  background-color: $back-color;
}

.btn-return {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: $highlight-color;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $back-text-color;
  }
}
