.message-form {
    display: flex;
    position: relative;

    width: 80%;

    padding: 10px 0px;

    border-top: 1px solid $borders-color;

    .message-form__input {
        height: 32px;
        width: 90%;

        margin-right: auto;
        margin-left: auto;

        border-radius: 30px;

        & label {
            position: absolute;
            z-index: -1;
        }

        & input {
            padding-left: 20px;

            &::placeholder {
                text-align: start;
            }
        }
    }

    &__dropdown-btn {
        width: 32px;
        height: 32px;
    }

    &__send-btn {
        width: 28px;
        height: 28px;
    }
}
