.chat-preview {
  display: flex;
  justify-content: flex-start;
  width: 290px;
  padding: 12px 0;
  border-top: 1px solid $borders-color;
  cursor: pointer;

  &__img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    object-fit: contain;
    background-color: $back-text-color;
    aspect-ratio: 1/1;
  }

  &__message-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 193px;
    margin-left: 10px;
  }

  &__message {
    font-size: 12px;
    color: $back-text-color;
  }

  &__info-wrapper {
    text-align: end;
  }

  &__date {
    color: $back-text-color;
  }

  &__unread-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $highlight-color;
  }

  &__unread-number {
    font-size: 12px;
    color: $white-color;
  }
}
