@import './vars.scss';
@import '../components/button/button.scss';

* {
    background-origin: content-box;

    padding: 0px;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
