@font-face {
    font-family: 'Inter';
    src: url('../../static/Inter-Medium.woff2');
}

@import './vars.scss';
@import './imports.scss';

* {
    background-origin: content-box;

    padding: 0px;
    margin: 0px;

    font-size: 13px;
    font-family: 'Inter', Helvetica, sans-serif;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

input {
    all: unset;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
