@import './vars.scss';
@import '../components/button/style.scss';
@import '../components/input/style.scss';
@import '../pages/signIn/signInForm/style.scss';
@import '../pages/signIn/style.scss';

@font-face {
    font-family: 'Inter';
    src: url('../../static/Inter-Medium.woff2');
}

* {
    background-origin: content-box;

    padding: 0px;
    margin: 0px;

    font-size: 13px;
    font-family: 'Inter', Helvetica, sans-serif;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

input {
    all: unset;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
