$text-color: #1e1e1e;
$white-color: #fff;
$back-text-color: #999999;
$highlight-color: #3369f3;
$back-color: #fbfbfb;
$back-el-color: #efefef;
$back-message-color: #f8f8f8;
$personal-message-color: #e4edfd;
$borders-color: #eaeaea;
$warning-color: #ff2f2f;
