<div class='modal__backdrop' title='Backdrop'></div>
<form class='form modal__form'>
  <h2 class='modal__header'>{{modalType}} user</h2>

  {{{userInput}}}
  {{{addBtn}}}

  <p class='modal__error hidden'></p>
</form>
