.geo-tag {
  position: relative;
  align-self: flex-start;
  min-width: 400px;
  min-height: 300px;
  padding: 5px 5px 15px;
  border-radius: 12px;
  background-color: $back-message-color;

  &__root {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    z-index: 5;
  }

  &__time {
    position: absolute;
    right: 6px;
    bottom: 3px;
    font-size: 9px;
    color: $back-text-color;
  }

  &.personal-message {
    align-self: flex-end;
    background-color: $personal-message-color;

    .geo-tag__time {
      color: $highlight-color;
    }
  }

  &.censorship {
    &::after {
      display: block;
      position: absolute;
      content: '';
      width: 13px;
      height: 13px;
      right: 262px;
      top: 290px;
      background-color: #f9f9f9;
      background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22%23333%22%20height%3D%22800px%22%20width%3D%22800px%22%20version%3D%221.1%22%20id%3D%22Capa%5f1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%0A%09%20viewBox%3D%220%200%20492.904%20492.904%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20id%3D%22XMLID%5f347%5f%22%20d%3D%22M246.452%2C0.002C110.342%2C0.002%2C0%2C110.343%2C0%2C246.453c0%2C136.109%2C110.342%2C246.449%2C246.452%2C246.449%0A%09s246.452-110.34%2C246.452-246.449C492.904%2C110.343%2C382.563%2C0.002%2C246.452%2C0.002z%20M443.611%2C246.453%0A%09c0%2C44.22-14.808%2C84.941-39.487%2C117.866L271.097%2C231.265V51.002C368.2%2C63.195%2C443.611%2C146.108%2C443.611%2C246.453z%20M221.809%2C441.905%0A%09c-37.143-4.66-71.114-19.607-98.889-42.022l98.889-98.885V441.905z%20M271.097%2C300.982l98.9%2C98.9%0A%09c-27.788%2C22.415-61.757%2C37.362-98.9%2C42.022V300.982z%20M221.809%2C51.002v180.281L88.775%2C364.32%0A%09c-24.674-32.925-39.486-73.647-39.486-117.866C49.289%2C146.108%2C124.704%2C63.195%2C221.809%2C51.002z%22%2F%3E%0A%3C%2Fsvg%3E");
      background-size: cover;
      z-index: 6;
    }
  }
}
