.settings-field {
    display: flex;
    justify-content: space-between;

    padding: 10px 0px;

    border-bottom: 1px solid $borders-color;

    &__header {
        color: $text-color;
    }

    &__text {
        color: $back-text-color;
    }

    &:last-of-type {
        border-bottom: none;
    }
}
