<section class='chat__left-panel'>
  <a class='settings-link' href='/settings'>Profile</a>

  {{{searchForm}}}
  {{{createChatBtn}}}
  <section class='chat__chats-preview'></section>
</section>

<section class='chat__selected-chat'>
  {{{chatHeader}}}

  <section class='chat__dialog'>
  </section>

  {{{messageForm}}}
</section>
