<button
  class='message-form__dropdown-btn'
  title='Open dropdown'
  type='button'
><img src='{{scrapIcon}}' alt='Open dropdown' /></button>

{{{messageDropdown}}}
{{{messageInput}}}

<button class='message-form__send-btn' title='Send message'><img
    src='{{sendIcon}}'
    alt='Send message'
  /></button>
