.message-form {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 80%;
  padding: 10px 0;
  border-top: 1px solid $borders-color;

  .message-form__input {
    height: 32px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    background-color: $back-el-color;

    & label {
      position: absolute;
      z-index: -1;
    }

    & input {
      padding-left: 20px;
      border-bottom: none;

      &::placeholder {
        text-align: start;
      }
    }

    & .error {
      right: 16px;
    }
  }

  .dropdown-root {
    margin-right: 10px;
  }

  &__dropdown-btn {
    position: relative;
    width: 32px;
    height: 32px;
  }

  &__send-btn {
    position: relative;
    width: 28px;
    height: 28px;
    left: 10px;
  }
}

