<button class='message-form__dropdown-btn' type='button'>
  <img src='{{btnIcon}}' alt='Open dropdown' title='Open dropdown' />
</button>

<div class='dropdown message-drop hidden'>
  {{{photoVideoBtn}}}
  {{{fileBtn}}}
  {{{locationBtn}}}
</div>
