<div class='modal__backdrop' title='Backdrop'></div>
<form class='form modal__form modal__remove-user'>
  <h2 class='modal__header'>{{modalHeader}}</h2>

  <p class='modal__error hidden'></p>

  <ul class='modal__users'></ul>
</form>
