<button class='chat-header__dropdown-btn' type='button'>
  <img src='{{btnIcon}}' alt='Open dropdown' title='Open dropdown' />
</button>

<div class='dropdown header-drop hidden'>
  {{{addUserBtn}}}
  {{{removeUserBtn}}}
</div>
