.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 340px;
    height: 450px;

    padding: 50px 30px 18px 30px;

    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);

    .header {
        align-self: center;
        justify-self: flex-start;

        font-size: 20px;
    }

    &__input-wrapper {
        position: relative;
        top: -60px;

        input:nth-child(2) {
            margin-top: 10px;
        }
    }
}
