$text-color: #1e1e1e;
$back-text-color: #eaeaea;
$highlight-color: #3369f3;
$back-color: #fbfbfb;
$back-el-color: #efefef;
$back-message-color: #f8f8f8;
$borders-color: #eaeaea;
$warning-color: #ff2f2f;

* {
    background-origin: content-box;

    padding: 0px;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
