.dropdown-root {
  display: flex;
}

.dropdown {
  position: absolute;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);

  & .dropdown-option:last-child {
    margin-bottom: 0;
  }
}

.dropdown::before {
  content: '';
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.header-drop {
  right: -10px;
  top: 65px;
}

.message-drop {
  left: -8px;
  top: -128px;
}

