.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 340px;
  height: 460px;
  padding: 50px 30px 30px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);

  .header {
    place-self: center flex-start;
    font-size: 20px;
  }

  &__input-wrapper {
    position: relative;

    input {
      margin-bottom: 1px;
    }
  }
}
