.main-error-page {
  flex-direction: column;

  & h1 {
    font-size: 40px;
  }

  & h3 {
    margin-top: 20px;
    font-size: 20px;
  }

  & p {
    margin-top: 69px;
    font-size: 11px;
    color: $highlight-color;
  }
}
